{% extends "base.html" %}
 


{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-8">
			<h5>{{letter}}. {{problem.title}}</h5>
			<div style="white-space: pre-line"><p>{{problem.statement}}</p></div>
			<h6>Примеры входных и выходных данных</h6>
		    	<table class="table table-striped table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">standard input</th>
				      <th scope="col">standard output</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% for item in examples %}
				  	<tr>
				      <td>{{item.example_in|safe}}</td>
				      <td>{{item.example_out|safe}}</td>
				    </tr>
				  	{% endfor %}
				  </tbody>
				</table>
		</div>
		<div class="col-4">
			{% if access=="active" %}
			<p><i>До окончания соревнования: {{time_left}}</i>
			{% else %}
			<p><i>Дорешивание</i>
			{% endif %}</p>
			<p> <a href="/contests/{{contest.id}}">Вернуться к задачам</a></p>
			<p> <a href="standings">Положение участников</a></p>
			<h5>Сдать решение</h3>
		    <form action="" method="post" enctype="multipart/form-data">
		        {{ form.hidden_tag() }}
		        {{ form.csrf_token }}
		        <p>
		            {{ form.code.label }}<br>
		            {{ form.code }}<br>
		        </p>
		        <p>{{ form.submit() }}</p>
		    </form>
		    {% include 'runs.html' %}
		</div>
	</div>
</div>
{% endblock %}